:root {
  --zap-yellow: #F5C400;
  --zap-brown: #8B5A2B;
  --zap-light: #fffdf5;
  --zap-dark: #222;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background: var(--zap-light);
  color: var(--zap-dark);
}

h1, h2, h3 {
  color: var(--zap-brown);
}

button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-weight: 600;
}

input {
  border-radius: 10px;
  border: 1px solid #ddd;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/src/assets/zaplogo.png");
  background-repeat: none;
  background-size: 120px;
  opacity: 0.08; /*  was too light earlier */
  pointer-events: none;
  z-index: -1;
}


